<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gcloud.shop.mapper.AlipayTokenMapper" >
  <resultMap id="BaseResultMap" type="com.gcloud.shop.domain.AlipayToken" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="auth_app_id" property="authAppId" jdbcType="VARCHAR" />
    <result column="app_auth_token" property="appAuthToken" jdbcType="VARCHAR" />
    <result column="app_refresh_token" property="appRefreshToken" jdbcType="VARCHAR" />
    <result column="expires_in" property="expiresIn" jdbcType="VARCHAR" />
    <result column="re_expires_in" property="reExpiresIn" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="modified" property="modified" jdbcType="TIMESTAMP" />
    <result column="enable_status" property="enableStatus" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, auth_app_id, app_auth_token, app_refresh_token, expires_in, re_expires_in, 
    created, modified, enable_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_alipay_token
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_alipay_token
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.gcloud.shop.domain.AlipayToken" >
    insert into tb_alipay_token (id, user_id, auth_app_id, 
      app_auth_token, app_refresh_token, expires_in, 
      re_expires_in, created, modified, 
      enable_status)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=VARCHAR}, #{authAppId,jdbcType=VARCHAR}, 
      #{appAuthToken,jdbcType=VARCHAR}, #{appRefreshToken,jdbcType=VARCHAR}, #{expiresIn,jdbcType=VARCHAR}, 
      #{reExpiresIn,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, #{modified,jdbcType=TIMESTAMP}, 
      #{enableStatus,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.gcloud.shop.domain.AlipayToken" >
    insert into tb_alipay_token
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="authAppId != null" >
        auth_app_id,
      </if>
      <if test="appAuthToken != null" >
        app_auth_token,
      </if>
      <if test="appRefreshToken != null" >
        app_refresh_token,
      </if>
      <if test="expiresIn != null" >
        expires_in,
      </if>
      <if test="reExpiresIn != null" >
        re_expires_in,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="modified != null" >
        modified,
      </if>
      <if test="enableStatus != null" >
        enable_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="authAppId != null" >
        #{authAppId,jdbcType=VARCHAR},
      </if>
      <if test="appAuthToken != null" >
        #{appAuthToken,jdbcType=VARCHAR},
      </if>
      <if test="appRefreshToken != null" >
        #{appRefreshToken,jdbcType=VARCHAR},
      </if>
      <if test="expiresIn != null" >
        #{expiresIn,jdbcType=VARCHAR},
      </if>
      <if test="reExpiresIn != null" >
        #{reExpiresIn,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null" >
        #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="enableStatus != null" >
        #{enableStatus,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gcloud.shop.domain.AlipayToken" >
    update tb_alipay_token
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="authAppId != null" >
        auth_app_id = #{authAppId,jdbcType=VARCHAR},
      </if>
      <if test="appAuthToken != null" >
        app_auth_token = #{appAuthToken,jdbcType=VARCHAR},
      </if>
      <if test="appRefreshToken != null" >
        app_refresh_token = #{appRefreshToken,jdbcType=VARCHAR},
      </if>
      <if test="expiresIn != null" >
        expires_in = #{expiresIn,jdbcType=VARCHAR},
      </if>
      <if test="reExpiresIn != null" >
        re_expires_in = #{reExpiresIn,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null" >
        modified = #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="enableStatus != null" >
        enable_status = #{enableStatus,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gcloud.shop.domain.AlipayToken" >
    update tb_alipay_token
    set user_id = #{userId,jdbcType=VARCHAR},
      auth_app_id = #{authAppId,jdbcType=VARCHAR},
      app_auth_token = #{appAuthToken,jdbcType=VARCHAR},
      app_refresh_token = #{appRefreshToken,jdbcType=VARCHAR},
      expires_in = #{expiresIn,jdbcType=VARCHAR},
      re_expires_in = #{reExpiresIn,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      modified = #{modified,jdbcType=TIMESTAMP},
      enable_status = #{enableStatus,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>