<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gcloud.shop.mapper.OrderInfoMapper" >
  <resultMap id="BaseResultMap" type="com.gcloud.shop.domain.OrderInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="store_id" property="storeId" jdbcType="VARCHAR" />
    <result column="user_symbol" property="userSymbol" jdbcType="VARCHAR" />
    <result column="user_symbol_type" property="userSymbolType" jdbcType="TINYINT" />
    <result column="point_count" property="pointCount" jdbcType="VARCHAR" />
    <result column="merchant_order_no" property="merchantOrderNo" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="order_time" property="orderTime" jdbcType="TIMESTAMP" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="modified" property="modified" jdbcType="TIMESTAMP" />
    <result column="enable_status" property="enableStatus" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, store_id, user_symbol, user_symbol_type, point_count, merchant_order_no, memo, 
    order_time, created, modified, enable_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_shop_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_shop_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.gcloud.shop.domain.OrderInfo" >
    insert into tb_shop_order (id, store_id, user_symbol, 
      user_symbol_type, point_count, merchant_order_no, 
      memo, order_time, created, 
      modified, enable_status)
    values (#{id,jdbcType=BIGINT}, #{storeId,jdbcType=VARCHAR}, #{userSymbol,jdbcType=VARCHAR}, 
      #{userSymbolType,jdbcType=TINYINT}, #{pointCount,jdbcType=VARCHAR}, #{merchantOrderNo,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR}, #{orderTime,jdbcType=TIMESTAMP}, #{created,jdbcType=TIMESTAMP}, 
      #{modified,jdbcType=TIMESTAMP}, #{enableStatus,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.gcloud.shop.domain.OrderInfo" >
    insert into tb_shop_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="userSymbol != null" >
        user_symbol,
      </if>
      <if test="userSymbolType != null" >
        user_symbol_type,
      </if>
      <if test="pointCount != null" >
        point_count,
      </if>
      <if test="merchantOrderNo != null" >
        merchant_order_no,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="orderTime != null" >
        order_time,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="modified != null" >
        modified,
      </if>
      <if test="enableStatus != null" >
        enable_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=VARCHAR},
      </if>
      <if test="userSymbol != null" >
        #{userSymbol,jdbcType=VARCHAR},
      </if>
      <if test="userSymbolType != null" >
        #{userSymbolType,jdbcType=TINYINT},
      </if>
      <if test="pointCount != null" >
        #{pointCount,jdbcType=VARCHAR},
      </if>
      <if test="merchantOrderNo != null" >
        #{merchantOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null" >
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null" >
        #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="enableStatus != null" >
        #{enableStatus,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gcloud.shop.domain.OrderInfo" >
    update tb_shop_order
    <set >
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=VARCHAR},
      </if>
      <if test="userSymbol != null" >
        user_symbol = #{userSymbol,jdbcType=VARCHAR},
      </if>
      <if test="userSymbolType != null" >
        user_symbol_type = #{userSymbolType,jdbcType=TINYINT},
      </if>
      <if test="pointCount != null" >
        point_count = #{pointCount,jdbcType=VARCHAR},
      </if>
      <if test="merchantOrderNo != null" >
        merchant_order_no = #{merchantOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null" >
        order_time = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null" >
        modified = #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="enableStatus != null" >
        enable_status = #{enableStatus,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gcloud.shop.domain.OrderInfo" >
    update tb_shop_order
    set store_id = #{storeId,jdbcType=VARCHAR},
      user_symbol = #{userSymbol,jdbcType=VARCHAR},
      user_symbol_type = #{userSymbolType,jdbcType=TINYINT},
      point_count = #{pointCount,jdbcType=VARCHAR},
      merchant_order_no = #{merchantOrderNo,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      order_time = #{orderTime,jdbcType=TIMESTAMP},
      created = #{created,jdbcType=TIMESTAMP},
      modified = #{modified,jdbcType=TIMESTAMP},
      enable_status = #{enableStatus,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>