<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gcloud.shop.mapper.TradeDetailMapper" >
  <resultMap id="BaseResultMap" type="com.gcloud.shop.domain.TradeDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="store_id" property="storeId" jdbcType="VARCHAR" />
    <result column="out_trade_no" property="outTradeNo" jdbcType="VARCHAR" />
    <result column="goods_id" property="goodsId" jdbcType="VARCHAR" />
    <result column="alipay_goods_id" property="alipayGoodsId" jdbcType="VARCHAR" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="quantity" property="quantity" jdbcType="BIGINT" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="goods_category" property="goodsCategory" jdbcType="VARCHAR" />
    <result column="body" property="body" jdbcType="VARCHAR" />
    <result column="show_url" property="showUrl" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="modified" property="modified" jdbcType="TIMESTAMP" />
    <result column="enable_status" property="enableStatus" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, store_id, out_trade_no, goods_id, alipay_goods_id, goods_name, quantity, price, 
    goods_category, body, show_url, created, modified, enable_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_trade_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_trade_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.gcloud.shop.domain.TradeDetail" >
    insert into tb_trade_detail (id, store_id, out_trade_no, 
      goods_id, alipay_goods_id, goods_name, 
      quantity, price, goods_category, 
      body, show_url, created, 
      modified, enable_status)
    values (#{id,jdbcType=BIGINT}, #{storeId,jdbcType=VARCHAR}, #{outTradeNo,jdbcType=VARCHAR}, 
      #{goodsId,jdbcType=VARCHAR}, #{alipayGoodsId,jdbcType=VARCHAR}, #{goodsName,jdbcType=VARCHAR}, 
      #{quantity,jdbcType=BIGINT}, #{price,jdbcType=DOUBLE}, #{goodsCategory,jdbcType=VARCHAR}, 
      #{body,jdbcType=VARCHAR}, #{showUrl,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, 
      #{modified,jdbcType=TIMESTAMP}, #{enableStatus,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.gcloud.shop.domain.TradeDetail" >
    insert into tb_trade_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="outTradeNo != null" >
        out_trade_no,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="alipayGoodsId != null" >
        alipay_goods_id,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="goodsCategory != null" >
        goods_category,
      </if>
      <if test="body != null" >
        body,
      </if>
      <if test="showUrl != null" >
        show_url,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="modified != null" >
        modified,
      </if>
      <if test="enableStatus != null" >
        enable_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=VARCHAR},
      </if>
      <if test="outTradeNo != null" >
        #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="alipayGoodsId != null" >
        #{alipayGoodsId,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=BIGINT},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="goodsCategory != null" >
        #{goodsCategory,jdbcType=VARCHAR},
      </if>
      <if test="body != null" >
        #{body,jdbcType=VARCHAR},
      </if>
      <if test="showUrl != null" >
        #{showUrl,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null" >
        #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="enableStatus != null" >
        #{enableStatus,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gcloud.shop.domain.TradeDetail" >
    update tb_trade_detail
    <set >
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=VARCHAR},
      </if>
      <if test="outTradeNo != null" >
        out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="alipayGoodsId != null" >
        alipay_goods_id = #{alipayGoodsId,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=BIGINT},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="goodsCategory != null" >
        goods_category = #{goodsCategory,jdbcType=VARCHAR},
      </if>
      <if test="body != null" >
        body = #{body,jdbcType=VARCHAR},
      </if>
      <if test="showUrl != null" >
        show_url = #{showUrl,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null" >
        modified = #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="enableStatus != null" >
        enable_status = #{enableStatus,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gcloud.shop.domain.TradeDetail" >
    update tb_trade_detail
    set store_id = #{storeId,jdbcType=VARCHAR},
      out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      goods_id = #{goodsId,jdbcType=VARCHAR},
      alipay_goods_id = #{alipayGoodsId,jdbcType=VARCHAR},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=BIGINT},
      price = #{price,jdbcType=DOUBLE},
      goods_category = #{goodsCategory,jdbcType=VARCHAR},
      body = #{body,jdbcType=VARCHAR},
      show_url = #{showUrl,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      modified = #{modified,jdbcType=TIMESTAMP},
      enable_status = #{enableStatus,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>