<div class="shop-order-templ pd_15" xmlns="http://www.w3.org/1999/html" style="font-family: 新宋体;">
		<h2 class="shop-order-header" style="position: relative; height: 42px;">
			<input class="fc_center" type="text" value="拿货单" style="display:none;" data-field-name="title">
		</h2>
		<div class="info-list" style="margin-top: 8px;">
			<ul>
				<li data-field-name="trade_item_type" style="display:none;">商品种类：11</li>
				<li data-field-name="trade_item_num" style="display:none;">商品数量：29</li>
				<li data-field-name="trade_price_num" style="display:none;">商品金额：11</li>
				<li data-field-name="trade_print_time" style="display:none;">打印时间：2015-12-14 19:18</li>
			</ul>
		</div>
	    <textarea class="pick-customer-content" placeholder="自定义内容" style="display:none;" data-field-name="custom_content" style="margin-top:0px;margin-bottom:5px;"></textarea>
		<table class="pick-table">
			<tr>
				<td class="table_item_id" width="30">序号</td>
				<td class="table_item_pic" width="60">宝贝图片</td>
				<td class="table_item_title" width="200">宝贝名称</td>
				<td class="table_item_short_title" width="60">宝贝简称</td>
				<td class="table_item_properties" width="60">宝贝属性</td>
				<td class="table_item_outer_id" width="60">商家编码</td>
				<td class="table_getter_num" width="60">拿货数量</td>
				<td class="table_price" width="60">单价</td>
			</tr>
			<tr>
				<td class="table_item_id">1</td>
				<td class="table_item_pic"><img style="width: 50px; height: 50px" alt="" src="http://img03.taobaocdn.com/bao/uploaded/i3/TB17L7VGXXXXXXmXVXXXXXXXXXX_!!0-item_pic.jpg_sum.jpg"></td>
				<td class="table_item_title">女士包包2014新款潮真皮女包时尚手提包女包新款包邮单肩包女大包</td>
				<td class="table_item_short_title">简称</td>
				<td class="table_item_properties">新款 潮</td>
				<td class="table_item_outer_id">0001</td>
				<td class="table_getter_num">1</td>
				<td class="table_price">￥269.00</td>
			</tr>
			<tr>
				<td class="table_item_id">2</td>
				<td class="table_item_pic"><img style="width: 50px; height: 50px" alt="" src="http://img03.taobaocdn.com/bao/uploaded/i3/TB17L7VGXXXXXXmXVXXXXXXXXXX_!!0-item_pic.jpg_sum.jpg"></td>
				<td class="table_item_title">女士包包2014新款潮真皮女包时尚手提包女包新款包邮单肩包女大包</td>
				<td class="table_item_short_title">简称</td>
				<td class="table_item_properties">新款 潮</td>
				<td class="table_item_outer_id">0001</td>
				<td class="table_getter_num">1</td>
				<td class="table_price">￥269.00</td>
			</tr>
			<tr>
				<td class="table_item_id">3</td>
				<td class="table_item_pic"><img style="width: 50px; height: 50px" alt="" src="http://img03.taobaocdn.com/bao/uploaded/i3/TB17L7VGXXXXXXmXVXXXXXXXXXX_!!0-item_pic.jpg_sum.jpg"></td>
				<td class="table_item_title">女士包包2014新款潮真皮女包时尚手提包女包新款包邮单肩包女大包</td>
				<td class="table_item_short_title">简称</td>
				<td class="table_item_properties">新款 潮</td>
				<td class="table_item_outer_id">0001</td>
				<td class="table_getter_num">1</td>
				<td class="table_price">￥269.00</td>
			</tr>
			<tr>
				<td class="table_item_id">4</td>
				<td class="table_item_pic"><img style="width: 50px; height: 50px" alt="" src="http://img03.taobaocdn.com/bao/uploaded/i3/TB17L7VGXXXXXXmXVXXXXXXXXXX_!!0-item_pic.jpg_sum.jpg"></td>
				<td class="table_item_title">女士包包2014新款潮真皮女包时尚手提包女包新款包邮单肩包女大包</td>
				<td class="table_item_short_title">简称</td>
				<td class="table_item_properties">新款 潮</td>
				<td class="table_item_outer_id">0001</td>
				<td class="table_getter_num">1</td>
				<td class="table_price">￥269.00</td>
			</tr>
			<tr>
				<td class="table_item_id">5</td>
				<td class="table_item_pic"><img style="width: 50px; height: 50px" alt="" src="http://img03.taobaocdn.com/bao/uploaded/i3/TB17L7VGXXXXXXmXVXXXXXXXXXX_!!0-item_pic.jpg_sum.jpg"></td>
				<td class="table_item_title">女士包包2014新款潮真皮女包时尚手提包女包新款包邮单肩包女大包</td>
				<td class="table_item_short_title">简称</td>
				<td class="table_item_properties">新款 潮</td>
				<td class="table_item_outer_id">0001</td>
				<td class="table_getter_num">1</td>
				<td class="table_price">￥269.00</td>
			</tr>
			<tr>
				<td class="table_item_id">6</td>
				<td class="table_item_pic"><img style="width: 50px; height: 50px" alt="" src="http://img03.taobaocdn.com/bao/uploaded/i3/TB17L7VGXXXXXXmXVXXXXXXXXXX_!!0-item_pic.jpg_sum.jpg"></td>
				<td class="table_item_title">女士包包2014新款潮真皮女包时尚手提包女包新款包邮单肩包女大包</td>
				<td class="table_item_short_title">简称</td>
				<td class="table_item_properties">新款 潮</td>
				<td class="table_item_outer_id">0001</td>
				<td class="table_getter_num">1</td>
				<td class="table_price">￥269.00</td>
			</tr>
		</table>
</div>