<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="buyer_nick">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">买家昵称</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="receiver_name">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">收货人姓名</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="receiver_mobile">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">收货人手机</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="receiver_phone">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">收货人电话</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="receiver_zip">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">收货人邮编</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="receiver_state">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">收货人-省</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="receiver_city">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">收货人-市</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="receiver_district">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">收货人-区县</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="receiver_city_district">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">收货人-市、区县</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="receiver_state_city_district">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">收货人-省、市、区县</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="receiver_address">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">收货人地址(无省市区县)</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="receiver_detail_address">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">收货人地址</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="receiver_district_address">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">收货人地址(仅含区)</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="receiver_destination">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">大头笔(目的地)</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="receiver_destination_accurate">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">收货人目的地(市或县)</span>
    <a class="close" href="javascript:void(0)"></a>
</div>

<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="seller_nick">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">卖家昵称</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="send_name">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">发货人姓名</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none; width: 130px;" data-field-name="send_mobile">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">发货人手机</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none;  width: 130px;" data-field-name="send_phone">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">发货人电话</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none; width: 150px;" data-field-name="shop_title">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">店铺名称</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="send_zip">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">发货人邮编</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="send_state">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">发货人-省</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="send_city">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">发货人-市</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="send_district">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">发货人-区县</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="send_city_district">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">发货人-市、区县</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="send_state_city_district">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">发货人-省、市、区县</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="send_address">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">发货人地址(无省市区县)</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="send_detail_address">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">发货人地址</span>
    <a class="close" href="javascript:void(0)"></a>
</div>

<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="item_title">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">宝贝名称</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="item_short_title">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">宝贝简称</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="item_properties">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">宝贝属性</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="item_outer_id">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">商家编码</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="item_price">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">宝贝单价</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="item_num">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">宝贝总数</span>
    <a class="close" href="javascript:void(0)"></a>
</div>

<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="trade_id">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">平台交易号</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="sys_id">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">系统订单号</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="trade_create_time">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">下单时间</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="trade_pay_time">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">付款时间</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="trade_print_time">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">打印时间</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="trade_shop_promotion">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">满就送</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="trade_buyer_message">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">买家留言</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="trade_seller_memo">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">卖家备注</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="trade_payment">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">实付总额</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="trade_post_fee">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">邮费</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="trade_package_weight">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">包裹重量</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="trade_invoice_title">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">发票抬头</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="trade_print_num">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">打印序号</span>
    <a class="close" href="javascript:void(0)"></a>
</div>

<!--<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="custom_content">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">感谢您对我们的支持！</span>
    <a class="close" href="javascript:void(0)"></a>
</div>-->
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="custom_content1">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">感谢您对我们的支持！1</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="custom_content2">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">感谢您对我们的支持！2</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="custom_content3">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">感谢您对我们的支持！3</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="custom_content4">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">感谢您对我们的支持！4</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="custom_content5">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">感谢您对我们的支持！5</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="custom_content6">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">感谢您对我们的支持！6</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="custom_content7">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">感谢您对我们的支持！7</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="custom_content8">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">感谢您对我们的支持！8</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="custom_content9">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">感谢您对我们的支持！9</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="custom_content10">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">感谢您对我们的支持！10</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<!--<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="qrcode">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">二维码</span>
    <a class="close" href="javascript:void(0)"></a>
</div>-->
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="item_short_title-item_num">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">宝贝简称+数量</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="item_outer_id-item_num">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">商家编码+数量</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="item_short_title-item_properties-item_num">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">宝贝简称+属性+数量</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="item_outer_id-item_properties-item_num">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">商家编码+属性+数量</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="item_short_title-item_outer_id-item_num">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">宝贝简称+商家编码+数量</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="item_short_title-item_outer_id-item_properties-item_num">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">宝贝简称+商家编码+属性+数量</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="item_num-item_short_title">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">数量+宝贝简称</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="item_num-item_outer_id">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">数量+商家编码</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="item_num-item_short_title-item_properties">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">数量+宝贝简称+属性</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="item_num-item_outer_id-item_properties">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">数量+商家编码+属性</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="item_num-item_short_title-item_outer_id">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">数量+宝贝简称+商家编码</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="item_num-item_short_title-item_outer_id-item_properties">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">数量+宝贝简称+商家编码+属性</span>
    <a class="close" href="javascript:void(0)"></a>
</div>
<div class="drsElement drsMoveHandle" style="position: absolute;left:0; top:0;display: none" data-field-name="item_properties-item_num">
    <span style="font-weight: normal; font-size: 16px;  font-family: 新宋体;">属性+数量</span>
    <a class="close" href="javascript:void(0)"></a>
</div>






















